/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: currentColor;
}
li{
    list-style: none;
    padding: 0;
}
h1, p, ul{
    margin: 0;
}
input{
    border: none;
}
img{
    display: block;
    max-width: 100%;
}

/* GLOBAL */
:root{
    --header-height:3rem;
    /* COLORS */
    --color-red:#F23005;
    --color-pink:#BF3983;
    --color-blue:#2C2F73;
    --color-grey:#352D40;
    --color-black:#1D1A26;
    --color-bkp-verde:#04BF10;
    --color-verde: #00a70b;

    /* FONT SIZE */
    --big-font-size:2.5rem;
    --normal-font-size:.938rem;
}
@media screen and (min-width:768px){
    :root{
        --big-font-size:5rem;
        --normal-font-size:1rem;
    }
}
.container{
    display: flex;
    max-width: 960px;
    margin: 0 auto;
    flex-wrap: wrap;
}
body{
    font-family: 'Roboto', sans-serif;
    background: url("../img/background-white.png") center repeat;
    padding: 0;
    font-size: var(--normal-font-size);

}

/* HEADER */
.nav_logo{
    font-family: 'Share Tech Mono', monospace;
    font-size: 2rem;
    text-shadow: 0 0 1px black;
    margin-left: 20px;
    flex: 1;
}
.l-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-image: linear-gradient(to bottom, var(--color-black), var(--color-grey),rgb(53, 45, 64,.5),rgb(53, 45, 64,0));
}
.bd_grid{
    max-width: 1024px;
    display: grid;
    grid-template-columns: 100%;
    column-gap: 2rem;
    width: calc(100%-2rem);
    margin-left: 1rem;
    margin-right: 1rem;
}
.nav{
    height:var(--header-height) ;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    margin: 0 auto;
}
.dark_button{
    flex: 1;
}
.box_button{
    width: 80px;
    height: 20px;
    background: var(--color-verde);
    border: 2px ridge var(--color-bkp-verde);
    border-radius: 10px;
    position: absolute;
    top: 13px;
}
.button{
    width: 30px;
    height: 30px;
    border: 1px ridge white;
    border-radius: 50%;
    background: var(--color-grey);
    cursor: pointer;
    transition: 300ms;
    position: absolute;
    right: 0;
    top: -7px;
}
.button_active{
    left: 0;
    transition: 300ms;
    border: 1px ridge var(--color-verde);
    background: white;
}
@media (max-width:375px){
    .nav_logo{
        font-size: 25px;
    }
    .box_button{
        width: 70px;
        height: 15px;
    }
    .button{
        width: 20px;
        height: 20px;
        top: -5px;
    }
}
@media screen and (max-width:768px){
    /* CASO FOR USAR MENU FIXO EM TELA MUITO GRANDE, PUXAR O .nav_menu AQ PRA DENTRO */
}
.nav_menu{
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    padding: 3.5rem 1.5rem 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    transition: .5;
}
@media screen and (min-width:768px){
    .nav_menu{
        width: 40%;
    }
}
.nav_close{
    position: absolute;
    top: .75rem;
    right: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    text-shadow: 0 0 1px black;
}
.nav_close:hover{
    color: white;
}
.nav_item{
    margin-bottom: 2rem;
}
.nav_close, .nav_link, .nav_logo, .nav_toggle{
    color: var(--color-verde);
}
.nav_link{
    text-shadow: 0.6px 0.6px 5px black;
}
.nav_link:hover{
    color: white;
}
.nav_toggle{
    font-size: 1.5rem;
    cursor: pointer;
}
.bx-menu{
    margin-right: 20px;
    cursor: pointer;
    color: var(--color-verde);
    text-shadow: 0 0 1px black;
}
/* SHOW MENU */
.show{
    right: 0;
}
/* MEDIA QUERIES HEADER */
/* @media screen and (min-width:769px){
    .nav_menu{
        width: 40%;
    }
    .nav{
        height: calc(var(--header-height) + 1.5rem);
    }
    .nav_toggle, .nav_close{
        display: none;
    }
    .nav_list{
        display: flex;
    }
    .nav_item{
        margin-left: 3rem;
        margin-bottom: 0;
    }
} */

/* ABOUT */
.intro{
    margin: 0 auto;
    margin-bottom: 80px;

}
.photo_pers img{
    height:300px;
    border-radius:50%;
    box-shadow: 0 0 10px 8px var(--color-verde);
    margin: 60px auto;
}
h1{
    margin: 30px 0;
    margin-top: 300px;
    font-family: 'Share Tech Mono', monospace;
    font-size: 5em;
    text-align: center;
    color: var(--color-black);
    text-shadow: 3px 3px 3px var(--color-verde);
}
.about{
    color:black;
}
.about h2{
    color: var(--color-verde);
    font-size: 60px;
    text-shadow: 0.6px 0.6px 5px black;
}
.about p{
    text-align: center;
    padding:10px 30px;
    font-size: 24px;
    margin-bottom: 120px;
    text-shadow: 0 0 1px green;
}
.redes h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.links{
    display: flex;
    justify-content: space-around;
    max-width: 300px;
    margin: 0 auto;
}
.links a img{
    height: 70px;
    margin-bottom: 120px;
}

/* SKILLS */
.inskills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 120px;
}
.skills h2{
    font-size: 30px;
    font-weight: bold;
    color: var(--color-verde);
    text-shadow: 0.6px 0.6px 5px black;
    text-align: center;
    margin-bottom: 20px;
}
.inskills div{
    max-width: 300px;
    text-align: center;
}
.inskills h3{
    font-size: 30px;
    color: var(--color-verde);
    text-shadow: 0.6px 0.6px 5px black;
}
.inskills p{
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
    text-shadow: 0 0 1px green;
}

/* PORTFOLIO */
.portfolio{
    color: black;
    margin-bottom: 120px;
}
.portfolio h2{
    font-size: 30px;
    font-weight: bold;
    color: var(--color-verde);
    text-shadow: 0.6px 0.6px 5px black;
    text-align: center;
    margin-bottom: 20px;
}
.portfolio_content{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.portfolio_content img{
    width: 50%;
    height: 50%;
    margin: 10px;
    box-shadow: 0 0 2px black ;

}
.div_portfolio{
    align-self: center;
    padding: 20px;
    margin-bottom: 20px;
}
.div_portfolio h3{
    color: var(--color-verde);
    text-shadow: 0.6px 0.6px 5px black;
    font-size: 24px;
}
.div_portfolio p{
    line-height: 1.5;
    text-shadow: 0 0 1px green;
}
.link_git{
    display: flex;
    text-align: center;
    justify-content: center;
}
.link_git img{
    width: 30px;
    height: 30px;
    display: inline;
    margin:0 0 0 10px;
    box-shadow: 0 0 2px white ;
}
.link_git img:hover{
    box-shadow: 0 0 2px var(--color-verde) ;
}
.down_portfolio{
    justify-content: flex-end;
}
.order_up{
    order: 1;
}
.order_down{
    order: 2;
}
.portfolio > .button_portfolio{
    display: flex;
}
.button_portfolio{
    font-size: 20px;
    border-radius: 10px;
    background: var(--color-verde);
    color: white;
    text-shadow: 0 0 5px black;
    margin: 0 auto;
    box-shadow: 0 0 10px black;
}
.button_portfolio:hover{
    background:white;
    color: var(--color-verde);
    text-shadow: 1px 1px 0.3px black;
}
.button_portfolio a{
    padding: 20px 30px;
}
@media screen and (max-width:769px){
    .order_down{
        order: 1;
    }
    .order_up{
        order: 2;
    }
    .portfolio_content{
        flex-wrap: wrap;
    }
    .portfolio_content img{
        width: 70%;
        height: 80%;
    }
    .div_portfolio img{
        width: 30px;
    }
    .down_portfolio, .up_portfolio{
        flex-direction: column;
        text-align: center;
    }
}

/* CONTACT */
.contact{
    width: 960px;
}
.contact p{
    color: black;
}
.contact h2{
    font-size: 30px;
    font-weight: bold;
    color: var(--color-verde);
    text-shadow: 0.6px 0.6px 5px black;
    text-align: center;
    margin-bottom: 20px;
}
.incontact{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
}
.whats{
    flex: 1 1 200px;
    margin-bottom: 20px;
}
.whats p{
    display: block;
    text-align: center;
}
.whats a img{
    margin: 0 auto;
    height: 150px;
    display: block;
    text-align: center;
}
.form{
    flex: 2 0 300px;
    color: white;
    background:rgba(17, 16, 22, 0.8) ;
    border-radius: 30px;
    box-shadow: 0px 0px 2px black;
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 120px;
    text-align: center;
}
.form p{
    margin-bottom: 20px;
    color: white;
}
form{
    text-align: start;
}
form label{
    text-transform:uppercase ;
    margin-bottom: 8px;
    display: block;
}
form input, textarea {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    border-radius: 10px;
    outline: none;
}
form input:focus, textarea:focus{
    outline:2px solid var(--color-verde);
    border-radius: 5px;
}
form button{
    background: var(--color-verde);
    color: white;
    font-size: 24px;
    padding: 20px 30px;
    border-radius:20px ;
    width: 50%;
    cursor: pointer;
}
form button:hover{
    color: var(--color-verde);
    background: white;
}
form div{
    display: flex;
    justify-content: center;
}

/* FOOTER */
.footer::before{
    content: "";
    height: 3px;
    width: 90%;
    background: var(--color-verde);
    border-radius: 20px;
    margin: 0 auto;
}
.footer{
    background:rgba(17, 16, 22, 0.9) ;
    display: flex;
    flex-direction: column;
}
.div_footers{
    justify-content: space-around;
}
.div_footers h3{
    color: white;
    padding-top: 20px;
}
.nav_footer {
    flex-direction: column !important;
}
.nav_footer li{
    padding: 10px;
}
.nav_footer li a{
    color: var(--color-verde);
}
.nav_footer li a:hover::before{
    content: "»";
    color: currentColor;
}
.footer p{
    color: rgba(245, 245, 245, 0.856);
    text-align: center;
    padding: 20px;
}
